---
import Layout from '../layouts/Layout.astro';
import EpisodeList from '../components/EpisodeList';
import {adapter} from "../utils/adapter";
import { z } from 'astro:schema';
import type {Episode} from "../types";
const ApiResponse = z.object({
  resposta: z.object({
    status: z.string(),
    items: z.object({
      num: z.number(),
      item: z.array(z.object({
        entradeta: z.string(),
        "nom_friendly": z.string(),
        permatitle: z.string(),
        id: z.number(),
        titol: z.string(),
        audios: z.object({audio: z.array(z.object({text: z.string()}))}),
        imatges: z.object({imatge: z.array(z.object({text: z.string()}))}),
        "data_publicacio": z.string(),
      })),
    }),
    paginacio: z.object({
      "total_items": z.number(),
      "items_pagina": z.number(),
      "pagina_actual": z.number(),
      "total_pagines": z.number(),
    })
  }).required(),
});
type ApiResponse = z.infer<typeof ApiResponse>;
const episodeResponse: ApiResponse = await fetch('https://api.3cat.cat/audios?ordre=-data_publicacio&programaradio_id=1909&pagina=1&items_pagina=15').then((response)=>response.json());
const episodes: Episode[] = episodeResponse.resposta.items.item.map((epi) => {
  return adapter(epi);
})
---

<Layout title="El Búnquer">
  <div class="relative z-10 px-8 lg:px-18">
    <h1 class="text-4xl font-bold text-light-text-heading dark:text-white">
      Capítols
    </h1>
    <EpisodeList client:visible episodes={episodes} />
  </div>
</Layout>
