---
import characters from '@/data/characters.json'
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Search from "../components/Search.astro";

const seasons = [...new Set(characters.map(c => c.season))];
---

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.card-grid {
		@media (max-width: 1024px) {
			grid-template-columns: repeat(2, minmax(0px, 1fr));
		}
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	.filters {
		display: flex;
		justify-content: center;
		gap: 0.5rem;
		margin-bottom: 1rem;

		& 	.pill {
			font-size: 0.8rem;
			padding: 0.5rem 1rem;
			background-color: var(--background-ligth);
			border-radius: 900px;
			cursor: pointer;
			transition: background-color 0.3s ease;
		}

		& 	.pill.active {
			background-color: var(--accent);
		}
	}
</style>
<Layout title="El Búnquer">
	<main>
		<h1>El Búnquer</h1>
		<Search placeholder="Buscar personatge..." />
		<div class="filters">
			{seasons.reverse().map(season => (<div class="pill" onclick="this.classList.toggle('active')">Temporada {season}</div>))}
		</div>
		<div class="card-grid">
			{ characters.map(cItem => <Card {...cItem} />) }
		</div>
	</main>
</Layout>

