---
import characters from '@/data/characters.json'
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Search from "../components/Search.astro";
import Filters from "../components/Filters.astro";
---

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.card-grid {
		@media (max-width: 1024px) {
			grid-template-columns: repeat(2, minmax(0px, 1fr));
		}
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
</style>
<Layout title="El Búnquer">
	<main>
		<h1>El Búnquer</h1>
		<Search placeholder="Buscar personatge..." />
		<Filters/>
		<section class="card-grid">
			{ characters.map(cItem => <Card {...cItem} />) }
		</section>
	</main>
</Layout>

