---
import Horse from "./icons/Horse.astro";
import Estelada from "./icons/Estelada.astro";
import Knife from "./icons/Knife.astro";
---
<style>
    .filters {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
        & 	.pill {
            font-size: 0.8rem;
            padding: 0.5rem 1rem;
            background-color: var(--accent);
            border-radius: 25px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        & 	.pill:hover {
            background-color: var(--accent-dark);
        }
    }
</style>
<section class="filters">
    <Knife class="pill" id="knife"/>
    <Horse class="pill" id="horse"/>
    <Estelada class="pill" id="estelada"/>
</section>

<script>
    document.getElementById('knife').addEventListener('click', (e) => {});
</script>
