---
export interface Props {
    placeholder: string
}
const { placeholder } = Astro.props;
---
<style>
    .search-bar {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
        & input {
            padding: 0.5rem;
            font-size: 1rem;
            width: 100%;
            max-width: 400px;
            border: none;
            border-radius: 5px;
            outline: none;
        }
    }
</style>

<div class="search-bar">
    <input type="text" id="search-input" placeholder={placeholder} />
</div>

<script>
    document.getElementById('search-input').addEventListener('input', (e) => {
        const cards = document.querySelectorAll('.character-grid');
        cards.forEach(card => {
            const title = card.querySelector('.title').textContent.toLowerCase();
            if (title.includes(e.target.value)) {
                card.style.display = 'flex';
            } else {
                card.style.display = 'none';
            }
        });
    });
</script>
