---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<style is:global>
	:root {
		--accent: #7c1a2b;
		--accent-light: #d09ea6;
		--accent-dark: #a86370;
		--background-dark: #13151a;
		--background-ligth: #1c1d26;
		--size: 50px;
	}
	html {
		font-family: Montserrat, system-ui, sans-serif;
		background: var(--background-dark);
		margin: auto;
		padding: 1rem;
		min-height: 80dvh;
		max-width: calc(100% - 5rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Aquí es reuneixen els personatges dantescos i estrafolaris que en Jair la Neus i en Peyu ens han portat al podcast El Búnquer" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/bunquer-logo.svg" />
		<meta name="author" content="Sergi Llull Puente">
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
